.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.example-card {
background-color: white;
color: black;
margin-right: 20px;
margin-top: 75px;
}

.button {
  margin-right: 5px;
  background-color: rgb(163, 150, 142);
  color: rgb(255, 255, 255);
}

.image {
  max-width: 300px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-card-title, .mat-card-content p {
  text-align: center;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
