.container {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  flex-wrap: wrap;
}

.example-card {
background-color: white;
color: black;
margin-right: 4px;
margin-left: 2px;
margin-top: 20px;
align-items: center;
width: 250px;
}

.button {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 8px;
  background-color: rgba(163, 150, 142, 0.51);
  color: rgb(0, 0, 0);
  max-height: 30px;
  font-size: 17px;
}

.image {
  max-width: 230px;
}

.subtitle {
  margin-top: 20px;
  font-size: 13px;
  font-weight: bold;
}
