.container {
  margin: 0 auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.example-card {
background-color: white;
color: black;
margin-top: 20px;
align-items: center;
width: 300px;
}

.button {
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 7px;
  background-color: rgb(163, 150, 142);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 11px;
}

.image {
  max-width: 250px;
}
