<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <div>
        <span><b>REFURBI SHOP</b></span>
        <span class="subtitle"><b>Save your money for traveling</b></span>
      </div>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar button" mat-flat-button routerLink="">
        <b>START</b>
      </button>
      <button class="toolbar button" mat-flat-button routerLink="products">
        <b>OFERTA</b>
      </button>
      <button class="toolbar button" mat-flat-button routerLink="basket">
        <b>TORBA</b>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
